@import "tailwindcss" layer(base);
@import "tailwindcss/utilities" layer(utilities);

@theme {
	--color-background: hsl(0, 0%, 100%);
	--color-foreground: hsl(0, 0%, 5%);
	--color-border: hsl(0, 0%, 80%);

	--color-dark-background: hsl(0, 0%, 5%);
	--color-dark-foreground: hsl(0, 0%, 100%);
	--color-dark-border: hsl(0, 0%, 80%);
}

:root {
	color: var(--color-foreground);
	background-color: var(--color-background);

	* {
		border-color: var(--color-border);
	}
}

.dark {
	color: var(--color-dark-foreground);
	background-color: var(--color-dark-background);

	* {
		border-color: var(--color-dark-border);
	}
}
