@import "tailwindcss";
@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

@theme {
  --color-background: hsl(0, 0%, 100%);
  --color-foreground: hsl(0, 0%, 5%);
  --color-border: hsl(0, 0%, 80%);
  --color-accent: hsl(171, 63%, 39%);

  /** Custom animations */
  --animation-first-move-vertical: moveVertical 30s ease infinite;
  --animation-second-move-vertical: moveInCircle 20s reverse infinite;
  --animation-third-move-vertical: moveInCircle 40s linear infinite;
  --animation-fourth-move-vertical: moveHorizontal 40s ease infinite;
  --animation-fifth-move-vertical: moveInCircle 20s ease infinite;
}

[data-theme="dark"] {
  --color-background: hsl(0, 0%, 5%);
  --color-foreground: hsl(0, 0%, 100%);
  --color-border: hsl(0, 0%, 80%);
  --color-accent: hsl(124, 67%, 69%);
}

[data-theme="nightly"] {
  --color-background: hsl(207, 62%, 15%);
  --color-foreground: hsl(279, 48%, 89%);
  --color-border: hsl(266, 39%, 31%);
  --color-accent: hsl(296, 26%, 53%);
}

:root {
  /** 1rem = 16px | important for responsive typography and a11y */
  font-size: 16px;

  background-color: var(--color-background);
  color: var(--color-foreground);
}

@keyframes moveHorizontal {
  "0%": {
    transform: translateX(-50%) translateY(-10%);
  }
  "50%": {
    transform: translateX(50%) translateY(10%);
  }
  "100%": {
    transform: translateX(-50%) translateY(-10%);
  }
}

@keyframes moveInCircle {
  "0%": {
    transform: rotate(0deg);
  }
  "50%": {
    transform: rotate(180deg);
  }
  "100%": {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  "0%": {
    transform: translateY(-50%);
  }
  "50%": {
    transform: translateY(50%);
  }
  "100%": {
    transform: translateY(-50%);
  }
}
